.places__paragraph {
    margin-top: 26px;
    font-size: 18px;
    line-height: 29.34px;
}

.places__paragraph:first-child {
    margin-top: 0;
}

.places__paragraph:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1279px) {
    .places__paragraph:nth-child(2n+1) {
        margin-top: 27px;
    }
    .places__paragraph:first-child {
        margin-top: 0;
    }

    .places__paragraph:last-child {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 1023px) {
    .places__paragraph {
        font-size: 16px;
        line-height: 26.08px;
        margin-top: 25px;
    }
}