.header__lang-link {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  line-height: 28px;
  color:#FFFFFF;
  text-decoration: none;
  opacity: 1;
  transition: opacity 1s linear;
}

.header__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
