.header__lang-link {
    margin: 0;
    padding: 0;
    padding-left: 18px;
    font-size: 1.5rem;
    line-height: 28px;
    list-style-type: none;
}

.header__lang-link:first-child {
    padding-left: 0;
}

@media screen and (max-width: 767px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    } 
}