.photo-grid__container {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-template-rows: repeat(auto-fit, 213px);
    grid-gap: 16px;
}

@media screen and (max-width: 1279px) {
    .photo-grid__container {
        grid-template-rows: repeat(auto-fit, 225px);
        grid-gap: 14px;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid__container {
        grid-template-rows: repeat(auto-fit, 264px);
        grid-gap: 16px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid__container {
        grid-template-rows: repeat(auto-fit, 216px);
        grid-gap: 12px;
    }
}