.header__logo {
    width: 176px;
    height: 52px;
    padding-top: 28px;
}

@media screen and (max-width: 1023px) {
    .header__logo {
        padding-left: 24px;
}
}

@media screen and (max-width: 767px) {
    .header__logo {
        width: 142px;
        height: 42px;
        padding-top: 16px;
        padding-left: 16px;
    }
}