.lead__image {
    margin: 0;
    padding: 0;
    background-image: url(../../../images/lead-polka.jpg);
    background-size: cover;
    background-position: center;
    width: 984px;
    height: 615px;
}

@media screen and (max-width: 1279px) {
    .lead__image {
        width: 100%;
        max-height: 580px;
    }
}

@media screen and (max-width: 1023px) {
    .lead__image {
        max-width: 100%;
        max-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .lead__image {
        max-height: 200px;
    }
}
