.lead__subtitle {
    max-width: 640px;
    margin: 0 auto 64px;
    font-size: 1.875rem;
    line-height: 1.2;
    text-align: center;
}

@media screen and (max-width: 1279px) {
    .lead__subtitle {
        margin-bottom: 56px;
    }
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        font-size: 1rem;
        line-height: 1.25;
        margin-bottom: 40px;
}
}