.cover {
    margin-top: 92px;
    min-height: 740px;
}

@media screen and (max-width: 1279px) {
    .cover {
        min-height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover {
        min-height: 480px;
        margin-top: 80px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        margin-top: 66px;
        min-height: 200px;
    }
}