.cover__overlay {
    min-height: 740px;    
    background-color: #2A2C2F;
    opacity: 0.3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #FFF;
    position: relative;
    z-index: 0;
}