.cover__background {
    background: center center no-repeat url('../../../images/cover-trains.jpg');
    background-size: cover;
    position: relative;
    min-height: 740px;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 0;
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cover__background::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: -1;
    transition: all .5s;
}

.cover__background:hover::before {
    opacity: 0.8;
}

@media screen and (max-width: 1279px) {
    .cover__background {
        min-height: 640px;
    }
}