.lead__caption {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 1.4;
    margin-left: 148px;
}

@media screen and (max-width: 1024px) {
    .lead__caption {
        margin-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media screen and (max-width: 320px) {
    .lead__caption {
        margin-left: 16px;
    }
}