.lead__caption {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  margin-top: 8px;
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    margin-left: 16px;
  }
}
