.cover__title {
  margin: 0;
  padding: 0;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  max-width: 560px;
  opacity: 1;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
  }
}
