.places__url-heading {
    margin: 0;
    margin-bottom: 12px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 20.4px;
    color: #AAAAAA;
    letter-spacing: 2px;
}

@media screen and (max-width: 1023px) {
    .places__url-heading {
        line-height: 1;
    }
    
}