.header__lang-links {
  margin: 0;
  padding: 0;
  padding-top: 46px;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 767px) {
  .header__lang-links {
    padding-top: 30px;
  }
}
